/* URL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* COMMONS */
body{
    padding: 36px;
    font-family: Roboto;
    font-size: 16px;
    font-shadow:  3px 3px 5px black;
}

.myButton{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;
    height: auto;
    margin: auto;
}

.myButton:active  /* use Dot here */
{   
    background:url(./images/but2.png) no-repeat;
}

img{ 
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;
    height: auto;
    margin: auto;
}

h1{
    font-size: 22px;
}

a{
    text-decoration: none;
}

section, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

/* HEADER */
section.header img{
    max-width: 120px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.71);
    padding: 0;
}

/* LINKS */
section.links .link-items{
    width: 75%;
    margin-bottom: 16px;
}
section.links .link-items a{
    display: block;
    width: 100%;
    border: 1px #000 solid;
    padding: 16px 0;
    text-align: center;
    color: #000;
    border-radius: 25px;
    transition: transform .4s;
    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.4) 12%,
      rgba(255, 255, 255, 0.1) 77%);
    background-blend-mode: soft-light;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }


section.links .link-items a:hover{
    box-shadow: 3px 3px rgb(0, 0, 0);
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

/* FOOTER */
footer a{
    color: rgba(0, 0, 0, 0.5);
}
